.Timer {
  align-items: center;
  color: $timer-color;
  display: flex;
  justify-content: center;

  @include respond_to(tablet-and-smaller) {
    font-size: $mobile-font-size;
  }

  .far {
    margin-right: 5px;
  }

  button {
    margin-left: 10px;
    padding: 2p 5px;
  }
}