.CardsRemaining {
  display:flex;
  align-items: center;
  justify-content: center;
  
  @include respond_to(tablet-and-smaller) {
    font-size: $mobile-font-size;
  }

  .blue-card-count {
    color: $blue-team-color;
  }

  .red-card-count {
    color: $red-team-color;
  }
}