.CardsRemaining {
  display:flex;
  align-items: center;
  justify-content: center;

  @include respond_to(tablet-and-smaller) {
    font-size: $mobile-font-size;
  }

  .card-count {
    margin: 0 5px;

    .fas {
      margin-right: 1.5px;
    }

    &.team_1 {
      color: $red-team-color;
    }
    
    &.team_2 {
      color: $blue-team-color;
    }

    &.bomb {
      color: $bomb-color;
    }
  }
}