.Board {
  margin: 30px auto;
  width: 80%;

  .words__row {
    align-items: stretch;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: stretch;

    section {
      border: 2px solid black;
      border-radius: 10px;
      padding: 15% 5%;
      text-align: center;
      margin: 4%;
      cursor: pointer;

      &.spymaster__guessed {
        opacity: 0.65;
      }

      &.team_1 {
        background-color: $red-team-color;
        cursor: default;
      }

      &.team_2 {
        background-color: $blue-team-color;
        cursor: default;
      }

      &.bomb {
        background-color: $bomb-color;
        color: white; 
        cursor: default;
      }

      &.neutral {
        background-color: $neutral-color;
        cursor: default;
      }
    }
  }
  
  @include respond_to(tablet-and-smaller) {
    width: 100%;

    section {
      font-size: $mobile-font-size;
    }
  }
}