.Board {
  margin: 30px auto;
  width: 80%;

  .words__row {
    align-items: stretch;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    justify-items: stretch;

    section {
      border: 2px solid black;
      border-radius: 10px;
      padding: 15% 5%;
      text-align: center;
      margin: 4%;
    }
  }
  
  @include respond_to(tablet-and-smaller) {
    width: 100%;

    section {
      font-size: $mobile-font-size;
    }
  }
}