// Font-family
$title-font: 'Special Elite', cursive;
$regular-font: 'Monda', sans-serif;

// Font-size
$mobile-font-size: 14px;

// Colors
$background-color: #fdfdfd;
$blue-team-color: #007bff;
$red-team-color: #dc3545;
$bomb-color: #4e4b4b;
$neutral-color: #f3e4b7;
$dark-grey-color: #545b62;
$lighter-grey-color: #ced4da;
$lightest-grey-color: #e9ecef;
$timer-color: #28a745;

$modal-grey-text-color: #495057;
