// Font-family
$title-font: 'Special Elite', cursive;
$regular-font: 'Monda', sans-serif;

// Font-size
$mobile-font-size: 14px;

// Colors
$background-color: #fdfdfd;
$blue-team-color: #2676b5;
$red-team-color: #da2727;
$bomb-color: #a7a6a6;
$neutral-color: #f3e4b7;
