@import './normalize.css';
@import './variables';
@import './mixins';
@import './App.scss';
@import './CardsRemaining/CardsRemaining.scss';
@import './PlayerTurn/PlayerTurn.scss';
@import './Timer/Timer.scss';
@import './Board/Board.scss';

* {
  font-family: $regular-font;
  font-size: 20px;
  letter-spacing: 2px;
}